
<div class="all-brackets">
  <% @brackets.each do |bracket| %>
  <% info = bracket.info %>
  <%= link_to(info[0], bracket_url(bracket.id)) %> <br />
  <%= info[1] %><br />
  <%= "Admin: #{info[2]}"  %><br /><br />
  <% end %>
</div>
