<div class="title">
  <h1 id="title"> SHOWDOWN! </h1>
</div>

<div class="landingpage">
  <a href="/brackets/new">
    <div class="landingbox">
      <%= image_tag "anakin.jpg" %>
      <span> New! </span>
    </div>
  </a>

  <a href="/brackets">
    <div class="landingbox">
      <%= image_tag "darkside.jpg" %>
      <span> Join! </span>
    </div>
  </a>

  <a href="/brackets">
    <div class="landingbox">
      <%= image_tag "melted.jpg" %>
      <span> History! </span>
    </div>
  </a>
</div>
