* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

img {
  width: 100%;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1;

}

.page-container {
  margin-top: 95px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 800px) {
  .page-container {
    margin-left: 22%;
  }
}
