// Place all the styles related to the Brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  background-color: lightgray;
  width: 100px;
  height: auto;
  margin-top: 15px;
  text-align: center;
  padding: 3px;
}

.round {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  width: auto;
  margin-left: 10px;
}
.show-bracket {
    display: flex;
    text-align: center;
    overflow: auto;
    position: relative;
}

.all-brackets {
  text-align: center;
  line-height: 2;
}
.bracket-container {
  margin-top: 20px;
}
