// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-login-form {
  padding-left: 20%;
  padding-top: 10%;
}

.bracket-creation-form {
  padding-left: 20%;
  padding-top: 10%;
}
